# Виртуальное окружение
venv/
.env
.env.*

# Python кеши
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# IDE
.idea/
.vscode/

# Docker артефакты
*.pid

# Тестовые данные
.coverage
htmlcov/

# OS мусор
.DS_Store
Thumbs.db

# Local config examples
config.yaml.local
