# Virtual environment
venv/
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE
.idea/
.vscode/

# Docker artefacts
*.pid

# Test tasks
.coverage
htmlcov/

# OS trash
.DS_Store
Thumbs.db

# Local config examples
config.yaml.local
