services:
  db:
    image: postgres:16
    container_name: music_db
    restart: always

    env_file:
      - src/.env   # Load DB_USER, DB_PASSWORD, DB_NAME

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - db_data:/var/lib/postgresql/data

    ports:
        - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - bot_network

  bot:
    build: .
    container_name: music_bot
    restart: always

    depends_on:
      db:
        condition: service_healthy

    volumes:
      - ./logs:/app/logs

    env_file:
      - src/.env   # bot-specific variables (TOKEN, etc.)

    networks:
      - bot_network

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
        - "9000:8080"
    networks:
        - bot_network

volumes:
  db_data:

networks:
  bot_network:
    driver: bridge
